In [1]:
import numpy as np
import pandas as pd

In [2]:
 df = pd.read_csv('Big_Black_Money_Dataset.csv')
df.head()

,Transaction ID,Country,Amount (USD),Transaction Type,Date of Transaction,Person Involved,Industry,Destination Country,Reported by Authority,Source of Money,Money Laundering Risk Score,Shell Companies Involved,Financial Institution,Tax Haven Country
0,TX0000000001,Brazil,3.267530e+06,Offshore Transfer,2013-01-01 00:00:00,Person_1101,Construction,USA,True,Illegal,6,1,Bank_40,Singapore
1,TX0000000002,China,4.965767e+06,Stocks Transfer,2013-01-01 01:00:00,Person_7484,Luxury Goods,South Africa,False,Illegal,9,0,Bank_461,Bahamas
2,TX0000000003,UK,9.416750e+04,Stocks Transfer,2013-01-01 02:00:00,Person_3655,Construction,Switzerland,True,Illegal,1,3,Bank_387,Switzerland
3,TX0000000004,UAE,3.864201e+05,Cash Withdrawal,2013-01-01 03:00:00,Person_3226,Oil & Gas,Russia,False,Illegal,7,2,Bank_353,Panama
4,TX0000000005,South Africa,6.433784e+05,Cryptocurrency,2013-01-01 04:00:00,Person_7975,Real Estate,USA,True,Illegal,1,9,Bank_57,Luxembourg

In [3]:
#what percentage of missing or null values exist in each column? How would you handle these missing values?
Missing_values_per= (df.isnull().sum()/len(df)) * 100
Total_missing = df.isnull().sum()
Missing_value_outcome = pd.concat( [Total_missing,Missing_values_per], axis =1)
Missing_value_outcome

                             0    1
Transaction ID               0  0.0
Country                      0  0.0
Amount (USD)                 0  0.0
Transaction Type             0  0.0
Date of Transaction          0  0.0
Person Involved              0  0.0
Industry                     0  0.0
Destination Country          0  0.0
Reported by Authority        0  0.0
Source of Money              0  0.0
Money Laundering Risk Score  0  0.0
Shell Companies Involved     0  0.0
Financial Institution        0  0.0
Tax Haven Country            0  0.0

In [4]:
# Perform a summary of basic statistics (mean, median, standard deviation, min, and max) for the amount (USD) column. Identify any extreme outliers using Z-scores
df['Amount (USD)'].describe()

count    1.000000e+04
mean     2.501818e+06
std      1.424364e+06
min      1.003180e+04
25%      1.279005e+06
50%      2.501310e+06
75%      3.722416e+06
max      4.999812e+06
Name: Amount (USD), dtype: float64

In [5]:
# identify any extreme outliers using Z-scores
from scipy import stats
z_scores= stats.zscore(df['Amount (USD)'])
outliers = df[(z_scores > 3) | (z_scores < -3)]
print(outliers)

Empty DataFrame
Columns: [Transaction ID, Country, Amount (USD), Transaction Type, Date of Transaction, Person Involved, Industry, Destination Country, Reported by Authority, Source of Money, Money Laundering Risk Score, Shell Companies Involved, Financial Institution, Tax Haven Country]
Index: []

In [6]:
# Identify any extreme outliers using IQR method
Q1 = df['Amount (USD)'].quantile(0.25)
Q3 = df['Amount (USD)'].quantile(0.75)
IQR = Q3-Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_r = df[(df['Amount (USD)'] < lower_bound)|(df['Amount (USD)'] > upper_bound)]
print(outliers_r)
# Summary :
# Z-score method: Detects outliers more than 3 standard deviation away from the mean.
# IQR method: flags values outside the range of 1.5 * IQR from  Q1 or Q3.

Empty DataFrame
Columns: [Transaction ID, Country, Amount (USD), Transaction Type, Date of Transaction, Person Involved, Industry, Destination Country, Reported by Authority, Source of Money, Money Laundering Risk Score, Shell Companies Involved, Financial Institution, Tax Haven Country]
Index: []

In [7]:
# How many unique values are present in the country and destination country columns? Are there any descrepancies (e.g spelling inconsistencies)?
col = df[['Country', 'Destination Country']]
for x in col:
    print(df[x].unique())

['Brazil' 'China' 'UK' 'UAE' 'South Africa' 'Russia' 'Switzerland' 'India'
 'USA' 'Singapore']
['USA' 'South Africa' 'Switzerland' 'Russia' 'Brazil' 'UK' 'India' 'China'
 'Singapore' 'UAE']

In [15]:
# convert the date of transction column into components like year, month, and day. what are the most frequent transaction year and month?
df['Date of transaction'] = pd.to_datetime(df['Date of Transaction'])
df['Year_of_transaction'] =pd.DatetimeIndex(df['Date of Transaction']).year
df['Month_of_transaction'] =pd.DatetimeIndex(df['Date of Transaction']).month
df['Day_of_transaction'] =pd.DatetimeIndex(df['Date of Transaction']).day
df.head()

,Transaction ID,Country,Amount (USD),Transaction Type,Date of Transaction,Person Involved,Industry,Destination Country,Reported by Authority,Source of Money,Money Laundering Risk Score,Shell Companies Involved,Financial Institution,Tax Haven Country,Date of transaction,Year_of_transaction,Month_of_transaction,Day_of_transaction
0,TX0000000001,Brazil,3.267530e+06,Offshore Transfer,2013-01-01 00:00:00,Person_1101,Construction,USA,True,Illegal,6,1,Bank_40,Singapore,2013-01-01 00:00:00,2013,1,1
1,TX0000000002,China,4.965767e+06,Stocks Transfer,2013-01-01 01:00:00,Person_7484,Luxury Goods,South Africa,False,Illegal,9,0,Bank_461,Bahamas,2013-01-01 01:00:00,2013,1,1
2,TX0000000003,UK,9.416750e+04,Stocks Transfer,2013-01-01 02:00:00,Person_3655,Construction,Switzerland,True,Illegal,1,3,Bank_387,Switzerland,2013-01-01 02:00:00,2013,1,1
3,TX0000000004,UAE,3.864201e+05,Cash Withdrawal,2013-01-01 03:00:00,Person_3226,Oil & Gas,Russia,False,Illegal,7,2,Bank_353,Panama,2013-01-01 03:00:00,2013,1,1
4,TX0000000005,South Africa,6.433784e+05,Cryptocurrency,2013-01-01 04:00:00,Person_7975,Real Estate,USA,True,Illegal,1,9,Bank_57,Luxembourg,2013-01-01 04:00:00,2013,1,1

In [9]:
df['Year_of_transaction'].value_counts().sort_values(ascending=False)

Year_of_transaction
2013    8760
2014    1240
Name: count, dtype: int64

In [10]:
df['Month_of_transaction'].value_counts().sort_values(ascending=False)

Month_of_transaction
1     1488
2     1168
3      744
5      744
7      744
8      744
10     744
12     744
4      720
6      720
9      720
11     720
Name: count, dtype: int64

In [11]:
# perform frequency counts of categorical columns such as Transaction type and Industry. Are there any values that  occur unusually often or rarely?
Transaction_type_count = df['Transaction Type'].value_counts()
Industry_count = df['Industry'].value_counts()
print(Industry_count)
print(Transaction_type_count)

Industry
Finance         1475
Construction    1460
Luxury Goods    1459
Real Estate     1443
Arms Trade      1414
Casinos         1377
Oil & Gas       1372
Name: count, dtype: int64
Transaction Type
Property Purchase    2086
Stocks Transfer      1983
Offshore Transfer    1980
Cash Withdrawal      1978
Cryptocurrency       1973
Name: count, dtype: int64

In [12]:
# Are there any values that  occur unusually often or rarely?
Rarely_threshold = 0.02 * len(df)
Often_threshold = 0.18 * len(df)
print(Transaction_type_count[Transaction_type_count < Rarely_threshold])
print(Industry_count[Industry_count<Rarely_threshold])
print(Transaction_type_count[Transaction_type_count < Often_threshold])
print(Industry_count[Industry_count<Often_threshold])

Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Industry
Finance         1475
Construction    1460
Luxury Goods    1459
Real Estate     1443
Arms Trade      1414
Casinos         1377
Oil & Gas       1372
Name: count, dtype: int64

In [13]:
Transaction_type_counts_per = (df['Transaction Type'].value_counts()/df['Transaction Type'].value_counts().sum()) * 100
print(Transaction_type_counts_per)

Transaction Type
Property Purchase    20.86
Stocks Transfer      19.83
Offshore Transfer    19.80
Cash Withdrawal      19.78
Cryptocurrency       19.73
Name: count, dtype: float64

In [20]:
#calculate the total number of transactions for each person involved. what are the descriptive statistics (mean, median, max) for transaction counts per person?
transaction_count = df.groupby('Person Involved').size()
mean_transaction = transaction_count.mean()
median_transaction = transaction_count.median()
max_transaction = transaction_count.max()
print(f'the mean transaction for person involved is {mean_transaction }')
print(f'the median transaction for person involved is {median_transaction}')
print(f'the max transaction for person involved is {max_transaction}')

the mean transaction for person involved is 1.5822784810126582
the median transaction for person involved is 1.0
the max transaction for person involved is 7

In [ ]:
# Create a feature reperesenting the transaction time difference between consecutive transactions for each person. What are the average and median time difference?

In [ ]:
df.sort_values(by=['Person involved', 'Date of transaction'], inplace=True, ignore_index=True)
df['Time Diff']= df.groupby('Person involved')['Date of transaction'].diff()
df.head()

In [ ]:
# How many transactions invove tax haven countries? calculate the properties of transaction going to these counties.
df['Tax Haven Country'].value_counts().sort_values(ascending=False)

In [39]:
(df['Tax Haven Country'].value_counts().sort_values(ascending=False)/df['Tax Haven Country'].value_counts().sort_values(ascending=False).sum())*100

Tax Haven Country
Panama            17.43
Luxembourg        16.81
Cayman Islands    16.76
Singapore         16.44
Bahamas           16.28
Switzerland       16.28
Name: count, dtype: float64

In [16]:
# create a column to categorise amount (usd) into bins (eg low medium, high). How many transaction fall into each category
df['Amount (USD)'].max() - df['Amount (USD)'].min()
bins = [10031.80, 500000,2000000,4999812.41]
labels = ['low', 'medium', 'high']

In [21]:
#create a new feature called Risk index that combines money laundering risk score and the number of shell companies involved. What is the range and average of this index?
df['Risk Index']= df['Money Laundering Risk Score'] + df['Shell Companies Involved']
print(f'Mean Risk Index is  {df["Risk Index"].mean()}')
print(f'Range Risk Index is {df["Risk Index"].max() - df["Risk Index"].min()}')

Mean Risk Index is  9.9958
Range Risk Index is 18

In [25]:
#Calculate the average Money Laundering risk Score for each Industry. What are the industries with the highest average risk?
df.groupby('Industry')['Money Laundering Risk Score'].mean().sort_values(ascending=False).head()

Industry
Finance         5.711864
Construction    5.583562
Arms Trade      5.570721
Casinos         5.556282
Real Estate     5.455301
Name: Money Laundering Risk Score, dtype: float64

In [26]:
# Create a binary flag to indicate high-risk transactions where money laundering risk score is greater than 7 and more than 2 shell companies are involved.
# How many transactions meet this criteria?
df['High Risk Flag']= ((df['Money Laundering Risk Score'] > 7) & (df['Shell Companies Involved'] > 2)).astype(int)
df['High Risk Flag'].sum()

2115

In [31]:
# What are the most common combinations of Transaction Type and industry? Provide the 5 most frequent combinations.
common_combinations = df.groupby(['Transaction Type', 'Industry']).size().reset_index(name='Count')
Top_5 = common_combinations.sort_values(by ='Count', ascending=False)
print(Top_5.head(5))

     Transaction Type      Industry  Count
27  Property Purchase   Real Estate    324
17  Offshore Transfer       Finance    319
2     Cash Withdrawal  Construction    318
23  Property Purchase  Construction    311
21  Property Purchase    Arms Trade    303

In [35]:
# Compute the mean, the median and standard deviation for amount (USD) for each country. which country counties have the highest average transaction amounts?
country_stat = df.groupby('Country')['Amount (USD)'].agg(['mean','median','std']).reset_index()
country_stat_sorted = country_stat.sort_values(by ='mean', ascending=False)
country_stat_sorted

        Country          mean        median           std
1         China  2.593129e+06  2.644712e+06  1.436594e+06
6   Switzerland  2.517068e+06  2.592528e+06  1.428701e+06
5  South Africa  2.510831e+06  2.455383e+06  1.398297e+06
4     Singapore  2.508388e+06  2.561971e+06  1.422815e+06
3        Russia  2.501651e+06  2.478250e+06  1.450927e+06
0        Brazil  2.498370e+06  2.465548e+06  1.423476e+06
8            UK  2.492823e+06  2.489680e+06  1.442969e+06
2         India  2.492579e+06  2.518758e+06  1.411817e+06
7           UAE  2.490049e+06  2.442782e+06  1.435933e+06
9           USA  2.407059e+06  2.362195e+06  1.390338e+06

In [50]:
# Calculate the average money laundering risk score for each country and compare them. are there any countries that have significantly higher scores than others
risk_score = df.groupby('Country')['Money Laundering Risk Score'].mean().reset_index()
outcome = risk_score.sort_values('Money Laundering Risk Score', ascending=False)
outcome

        Country  Money Laundering Risk Score
2         India                     5.613131
4     Singapore                     5.585930
0        Brazil                     5.579523
6   Switzerland                     5.557360
8            UK                     5.542406
1         China                     5.510597
9           USA                     5.492292
7           UAE                     5.478484
5  South Africa                     5.476608
3        Russia                     5.428285

In [52]:
# Analyze the percentage of transactions that were Reported by Authorities and compare the average amount (USD) and Risk score for reported versus non-reported transaction.
percentage_of_transactions =df.groupby('Reported by Authority')[['Amount (USD)','Money Laundering Risk Score']].agg(['mean']).reset_index()
print(percentage_of_transactions )

  Reported by Authority  Amount (USD) Money Laundering Risk Score
                                 mean                        mean
0                 False  2.498099e+06                    5.521326
1                  True  2.516646e+06                    5.546633

In [54]:
#2nd approach
total_trans = len(df)
reported_trans = len(df[df['Reported by Authority']==1])
perc_rep = (reported_trans/total_trans)*100
reported_stat = df.groupby('Reported by Authority').agg({'Amount (USD)':'mean', 'Money Laundering Risk Score':'mean'}).reset_index()
print(f'Percentage of transaction reported by the authority:  {perc_rep:.2f}%')
print(reported_stat)

Percentage of transaction reported by the authority:  20.05%
   Reported by Authority  Amount (USD)  Money Laundering Risk Score
0                  False  2.498099e+06                     5.521326
1                   True  2.516646e+06                     5.546633

In [57]:
reported_stat = df.groupby('Reported by Authority').agg({'Amount (USD)':'mean', 'Money Laundering Risk Score':'mean'}).reset_index()
#percentage not reported
total_trans = len(df)
reported_trans_n = len(df[df['Reported by Authority']==0])
perc_rep_n = (reported_trans_n/total_trans)*100
print(f'Percentage of transaction not reported by the authority:{perc_rep_n:.2f}%')

Percentage of transaction not reported by the authority:79.95%